<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}boba.vim{% endblock %}</title>

    <!-- Global CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />

    <!-- Page-specific CSS -->
    {% block css %}{% endblock %} {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container {% block container_class %}{% endblock %}">
      {% block content %}{% endblock %}
    </div>

    <!-- Page-specific JavaScript -->
    {% block scripts %}{% endblock %}
  </body>
</html>
