{{template "base_go.html" .}} {{define "content"}}
<div class="home-banner">
  <img
    src="/static/sprites/boba_vim_banneer.png"
    alt="Boba.vim Banner"
    class="banner-image"
  />
</div>

<p class="welcome-text">
  Welcome to Boba.vim. Come compete your vim motions skills !
</p>

<div class="menu-buttons">
  <button id="playButton" class="btn">🧋 Play</button>
  <button id="playOnline" class="btn">🧋 Play online</button>
  <button id="leaderboardButton" class="btn secondary">🏆 Leaderboard</button>
</div>
{{end}} {{define "css"}}
<link rel="stylesheet" href="/static/css/index.css" />
{{end}} {{define "scripts"}}
<script type="module" src="/static/js/index.js"></script>
{{end}}
