{% extends "base.html" %} {% block title %}boba.vim - Play{% endblock %} {%
block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %} {% block content %}

<div class="home-banner">
  <img
    src="{{ url_for('static', filename='sprites/boba_vim_banneer.png') }}"
    alt="Boba.vim Banner"
    class="banner-image"
  />
</div>

<p class="welcome-text">
  Welcome to the ultimate vim-inspired boba experience!
</p>

<div class="menu-buttons">
  <button id="playButton" class="btn">🧋 Play</button>
  <button id="tutorialplayButton" class="btn">🧋 Play with tutorial</button>
  <button id="playOnline" class="btn">🧋 Play online</button>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
